---
import { getCollection, render } from 'astro:content'
import { Masonry } from 'astro-masonry'
import { REVIEWS, RATING } from '@lib/const'
import { Star } from '@lucide/astro'
import BuyButtons from '@components/pages/Home/components/BuyButtons.astro'

const reviews = await getCollection('reviews')
const renderedReviews = await Promise.all(
  reviews.map(async (review) => {
    const renderedContent = await render(review)
    return {
      ...review,
      Content: renderedContent.Content,
      data: review.data,
    }
  }),
)
---

<section id="testimonials" class="base-100 py-16 sm:py-32 mt-16 relative">
  <div
    class="max-w-4xl lg:max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 z-10 relative"
  >
    <div class="text-center mb-12">
      <h2 class="text-3xl lg:text-4xl font-bold text-base-content mb-4">
        Highly Rated, <span class="text-primary">Widely Loved</span> by readers.
      </h2>
      <p class="text-xl text-base-content/70">
        <strong>{RATING}</strong> stars with <strong>{REVIEWS}</strong>+ glowing
        reviews from developers like you!
      </p>
    </div>
    <Masonry
      breakpointCols={{
        default: 4,
        1100: 3,
        800: 2,
        600: 1,
      }}
      class="flex gap-4"
    >
      {
        renderedReviews.map((review) => (
          <div class="flex items-center mt-4">
            <blockquote class="bg-primary/10 p-4 rounded-lg shadow-sm w-full">
              {review.data.rating && (
                <div class="flex mb-4">
                  {[...Array(review.data.rating)].map(() => (
                    <Star class="h-4 w-4 fill-warning text-secondary" />
                  ))}
                </div>
              )}
              <div class="text-md text-base-content mb-4 quote-content">
                <review.Content />
              </div>
              <footer class="text-sm text-base-content/70">
                — {review.data.name} on{' '}
                <a target="_blank" href={review.data.url} class="text-primary">
                  {review.data.platform}
                </a>
              </footer>
            </blockquote>
          </div>
        ))
      }
    </Masonry>

    <!-- Call to Action -->
    <div class="text-center mt-24">
      <h2
        class="text-3xl lg:text-4xl font-bold text-base-content font-heading mb-6"
      >
        Join the community of happy readers!
      </h2>
      <p class="text-2xl lg:text-3xl text-base-content/80 font-heading">
        Get your copy of <strong>Node.js Design Patterns</strong> today.
      </p>
    </div>

    <div class="flex justify-center mt-16">
      <BuyButtons location="reviews" />
    </div>
  </div>

  <div
    class="absolute inset-0 z-0"
    style={{
      backgroundImage: `
        radial-gradient(125% 125% at 50% 10%, var(--color-base-100) 40%, color-mix(in oklab, var(--color-primary) 45%, transparent) 100%)
      `,
      backgroundSize: '100% 100%',
    }}
  >
  </div>
</section>
